<h1 class="text-center mb-4">Editing Session Detail</h1>

<%= render "form", session_detail: @session_detail %>

<div class="d-flex">
 <%= button_to " Show", @session_detail, class: "btn btn-warning bi bi-eye me-1", method: :get %>
  <%= button_to " Return", session_details_path, class: "btn btn-dark bi bi-arrow-return-left me-1", method: :get %>
</div>
