<% content_for :title, "New participant" %>

<div class="d-flex align-items-center">
  <h1 class="me-auto">New participant</h1>
  <%= button_to " Return", participants_path, method: :get, class: "btn btn-dark bi bi-arrow-return-left ms-auto" %> <!-- ms-auto para alinear el botón a la derecha -->
</div>

<%= render "form", participant: @participant %>