<% if participants.count <= 0 %>
  <p class="text-center">
    No participants found.
  </p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Birthday</th>
        <th scope="col" class="text-center">Options</th>
      </tr>
    </thead>
    <tbody>
      <% participants.each do |participant| %>
        <tr>
          <td class="text-center"><%= participant.name %></td>
          <td class="text-center"><%= participant.email %></td>
          <td class="text-center"><%= participant.birthday %></td>
          <td class="text-center">
            <div class="d-inline-flex">
              <%= button_to remove_participant_group_path(group_id: group.id, participant_id: participant.id),
                            method: :delete,
                            class: "btn btn-sm btn-danger",
                            data: { confirm: "Are you sure you want to remove this participant?" } do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
