<% content_for :title, "Edit Group" %>

<div class="d-flex align-items-center">
  <h1>Edit Group</h1>
  <%= button_to "", @group, method: :delete, class: "btn btn-sm btn-danger bi bi-trash ms-3" %>
  <%= link_to "Back", groups_path, class: "btn btn-sm btn-dark ms-auto" %>
</div>

<%= render "form", group: @group %>


<div id="list_participants" class="my-5">
  <h2>Participants</h2>
  <%= render "school/groups/list_participants", participants: @participants %>
</div>
